[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
flask-cors = "*"
gunicorn = "*"
marshmallow = "*"
cxxfilt = "==0.2.1"
#from = "*"
#itanium-demangler = "*"
#import = "*"
#parse = "*"
#as = "*"
#demangle = "*"
cpp-demangle = "*"

[dev-packages]

[requires]
python_version = "3.11"
