[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.2"
flask-sqlalchemy = "==3.0.5"
mysqlclient = "==2.2.0"
flask-cors = "==4.0.0"
gunicorn = "==21.2.0"
marshmallow = "==3.20.1"
cxxfilt = "==0.2.1"
pytest = "==7.4.0"
pytest-env = "==0.8.2"
pyngrok = "==6.0.0"
#mariadb = "*"

[dev-packages]

[requires]
python_version = "3.11"
