[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.2"
flask-sqlalchemy = "==3.0.5"
flask-cors = "==4.0.0"
gunicorn = "==21.2.0"
marshmallow = "==3.20.1"
cxxfilt = "*"
pytest = "==7.4.0"
pytest-env = "==0.8.2"
pyngrok = "==6.0.0"
mariadb = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.11"
